@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap');

:root{
    --clr-light: #fff;
    --clr-dark: #111317;
    --clr-blue: #195a7b;
    --fs-h: 40px;
    --fs-h2: 15px;
    --fs-body: 15px;
    --bs: 3px 3px 8px rgba(0,0,0,0.5);
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: var(--clr-dark);
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo{
    position: relative;
    color: var(--clr-blue);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;


}

header .navigation a {
    color: var(--clr-light);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background-color;

}

header .navigation a:hover {
   
    background-color: var(--clr-blue);
    

}


/* ;..... */

.container {
    position: relative;
    padding : 30px 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 20px;
}


.container::before {
    content: "FITNESS";
    position: absolute;
    bottom: 10%;
    right: 50%;
    font-size: 150px;
    font-weight: 700;
    opacity: 0.05;
    z-index: -1;
    line-height: 5px;
    color: var(--clr-light)
}


.content h4 {
   margin-bottom: 12px;
   font-size: 20px;
   font-weight: 600;
   color: var(--clr-blue)
}

.content {
    margin-bottom: 130px;
}
.content h1 {
    margin-bottom: 12px;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--clr-light);
}

.content p {
    margin-bottom: 20px;
    color: #fff;

}


.content .btn {
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    color: var(--clr-light);
    background-color: var(--clr-blue);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.content .btn:hover{
    background-color: #d79447;
}
img {
    width: 100%;
    display: flex;

}



.footer {
    color: var(--clr-blue);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}

.footer a { 
    color: inherit;
    text-decoration: none;
}


.media_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px auto;
}

.media_list_item {
    margin: 10px;
}

.footer h4{
    color: var(--clr-light);
}

.section_one {
    margin: 0 80px;
    margin-bottom: 30px;
    
  }
  
.section_one h2 {
    font-size: 40px;
    text-align: center;
    padding : 30px 100px;
    font-weight: bold;
    color: var(--clr-blue);
    margin-bottom: 20px;
}
  
.engagement_1 , .engagement_2, .engagement_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  
.engagement_1 p , .engagement_2 p, .engagement_3 p {
    font-size: 15px;
    font-weight:500 ;
    line-height: 30px;
    padding: 20px 40px;
    color: var(--clr-light);
  
  
}
  
.engagement_1 img .engagement_2 img .engagement_3 img {
    width: 150%;
}
  
 
  
.engagement_2 > p { 
    order : 1;
  
  }
.engagement_2 > div { 
    order : 2;
  
}
  